* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(47, 51, 150, 0.777);
}

header{
    background-color: rgb(62, 59, 59);
    padding: 20px;
}

header > h1 {
    color:white;
    text-align: center;
    font-family: sans-serif, Arial, Helvetica;
}

.score-board {
    margin: 5px auto;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    color: white;
    font-size: 30px;
    padding: 5px 10px;
    font-family: sans-serif, Arial, Helvetica;

}

.badge{
    background-color: rgb(0, 62, 248);
    border-radius: 30px;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 15px;
    padding: 2px 2px;
}

#user-label {
    position: relative;
    top: 30px;
    left: -75%;
}

#computer-label {
    position: relative;
    top: 9px;
    right: -75%;
}

.result{
    font-size: 30px;
    text-align: center;
}

.result > p{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif, Arial, Helvetica;
}

.choices {
    text-align: center;
    margin: 10px 0;
}

.choice{
    border: 3px solid wheat;
    border-radius: 50%;
    margin: 0 5px;
    padding: 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice:hover{
    cursor: pointer;
    background: rgb(0, 47, 255);
}

#action-message{
    text-align: center;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    font-size: 20px
}

.green-glow{
    border: 6px solid green;
    box-shadow: 0 0 15px lightgreen;
}

.red-glow{
    border: 6px solid rgb(234, 23, 37);
    box-shadow: 0 0 15px rgb(252, 116, 116);
}

.gray-glow{
    border: 6px solid rgb(82, 73, 74);
    box-shadow: 0 0 15px rgb(214, 203, 203);
}